{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">
    <link rel="stylesheet" type="text/css" href="{% static 'css/breast_cancer/breast_cancer.css' %}">
    <title>RiskAssess | Breast Cancer Prediction</title>
</head>
<body>
    <header>
    </header>
    <br/><br/>
    <h1 style="text-align:center;">Breast Cancer Prediction</h1>
    <h5 style="text-align:center;">Please enter the patient details</h5>
    <form action="{% url 'predict_breast_cancer' %}" method="post" class="form-inline">
        <fieldset>
            {% csrf_token %}
            <div class="tabcontent" id="new">
                <div class="form-group">
                    <label for="clump_thickness">Clump Thickness </label>
                    <input type="number" class="form-control" name="clump_thickness" required="required">
                </div>
                <div class="form-group">
                    <label for="uniform_cell_size">Uniform Cell size</label>
                    <input type="number" class="form-control" name="uniform_cell_size" required="required">
                </div>
                <div class="form-group">
                    <label for="uniform_cell_shape">Uniform Cell shape</label>
                    <input type="number" class="form-control" name="uniform_cell_shape" required="required" />
                </div>
                <div class="form-group">
                    <label for="marginal_adhesion">Marginal Adhesion</label>
                    <input type="number" class="form-control" name="marginal_adhesion" required="required" />
                </div>
                <div class="form-group">
                    <label for="single_epithelial_size">Single Epithelial Cell Size</label>
                    <input type="number" class="form-control" name="single_epithelial_size" required="required" />
                </div>
                <div class="form-group">
                    <label for="bare_nuclei">Bare Nuclei</label>
                    <input type="number" class="form-control" name="bare_nuclei" required="required" />
                </div>
                <div class="form-group">
                    <label for="bland_chromatin">Bland Chromatin</label>
                    <input type="number" class="form-control" name="bland_chromatin" required="required" />
                </div>
                <div class="form-group">
                    <label for="normal_nucleoli">Normal Nucleoli</label>
                    <input type="number" class="form-control" name="normal_nucleoli" required="required" />
                </div>
                <div class="form-group">
                    <label for="mitoses">Mitoses</label>
                    <input type="number" class="form-control" name="mitoses" required="required" />
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Predict</button>
            </div>
        </fieldset>
    </form>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
